Programms_Siemens/Step7/S7DATA/snmp/snmp_ini/s7snmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Hr. Vogt (Siemens AG) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DeviceType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Member" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="SNMP_DEFAULT"/>
						<xs:enumeration value="SNMP_IPC"/>
						<xs:enumeration value="SNMP_SWITCH"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ProfileFile" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="MIB-II_V10.txt"/>
						<xs:enumeration value="Profil_ELS_TP40_V10.txt"/>
						<xs:enumeration value="Profil_OSM_V10.txt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DefaultFlag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Member">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="ASType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="1"/>
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OSType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="1"/>
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Length" type="xs:short" use="required"/>
			<xs:attribute name="Property" type="xs:byte" use="required"/>
			<xs:attribute name="Format" type="xs:boolean" use="required"/>
			<xs:attribute name="ASOffset" type="xs:boolean" use="required"/>
			<xs:attribute name="OSOffset" type="xs:boolean" use="required"/>
			<xs:attribute name="Protocol" type="xs:boolean" use="required"/>
			<xs:attribute name="TopLimt" type="xs:boolean" use="required"/>
			<xs:attribute name="ButtomLimt" type="xs:boolean" use="required"/>
			<xs:attribute name="StartValue" type="xs:boolean" use="required"/>
			<xs:attribute name="SubstituteValue" type="xs:boolean" use="required"/>
			<xs:attribute name="LimitFalgs" type="xs:boolean" use="required"/>
			<xs:attribute name="szStartText" type="xs:string" use="required"/>
			<xs:attribute name="dwStatTextID" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SNMP_DEVICES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeviceType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
